body {
  font-family: Arial;
  margin: 0;
  background: #f5f7ff;
  color: #222;
  scroll-behavior: smooth;
}

/* NAV */
nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: #111;
  color: white;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

/* HERO */
.hero {
  text-align: center;
  padding: 80px 20px;
  background: linear-gradient(135deg,#4a90e2,#6c5ce7);
  color: white;
}

.hero button {
  padding: 10px 20px;
  border: none;
  background: white;
  color: black;
  cursor: pointer;
}

/* SECTIONS */
section {
  padding: 60px 20px;
}

/* CARDS */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap: 20px;
}

.card {
  background: rgb(200, 201, 198);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(190, 182, 182, 0.1);
}

/* SKILLS */
.skills-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skill {
  background: rgb(200, 201, 198);
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

/* RESUME BUTTON */
button {
  padding: 10px 15px;
  border: none;
  background: #4a90e2;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #111;
  color: white;
}

body.dark {
  background-color: #111;
  color: white;
}

body.dark nav {
  background-color: #222;
}
body.dark .project-card {
  background-color: #1e1e1e;
  color: white;
}

