body {
  margin: 0;
  font-family: Arial;
}

/* Progress Bar */
#progress {
  position: fixed;
  top: 0;
  left: 0;
  height: 5px;
  background: crimson;
  width: 0%;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #111;
  color: white;
}

nav ul {
  display: flex;
  gap: 15px;
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
}

/* HERO */
.hero {
  text-align: center;
  padding: 80px;
  background: linear-gradient(45deg,#667eea,#764ba2);
  color: white;
}

/* SECTION */
.section {
  padding: 50px;
  text-align: center;
}

/* SKILLS */
.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.skills div {
  background: #eee;
  padding: 10px 20px;
  border-radius: 20px;
}

/* PROJECTS */
.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  width: 250px;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

/* BUTTON */
.btn {
  background: crimson;
  color: white;
  border: none;
  padding: 8px 15px;
  margin: 5px;
  cursor: pointer;
}

.btn2 {
  background: black;
  color: white;
  border: none;
  padding: 8px 15px;
  margin: 5px;
  cursor: pointer;
}